<div class="row">
    <div class="col-2"></div>
    <p-card class="col-8">
        <div class="row">
            <div class="col-3 speciePhotoContainer">
                <div class="d-flex align-items-center justify-content-between p-3">
                    <p class="text-white display-6 m-0">{{specie.scientificName}}</p>
                    <img [src]="getPhoto(specie.danger+'.png' ,50,50)">
                </div>
                <img [src]="getPhoto(specie.mainPhoto ,500,500)">
            </div>
            <div class="col-7">
                <div class="d-flex align-items-center justify-content-center p-3">
                    <p class=" m-0 text-white display-6">Articles</p>
                </div>
                <div class="articles p-5 ">
                    <p-accordion [multiple]="true" [activeIndex]="[0]">
                        <div *ngIf="specie.info[0]!=null" class="accordionItem" >
                            <p-accordionTab header="Info" [headerStyle]="{
                                'color':'white',
                                'text-decoration': 'none',
                                'font-size':'30px',
                                'font-weight':'600'
                                }">
                                <app-specie-article [article]="a" *ngFor="let a of specie.info"></app-specie-article>
                            </p-accordionTab>
                        </div>
                        <div *ngIf="specie.identification[0]!=null" class="accordionItem">
                            <p-accordionTab header="Identification" [headerStyle]="{
                                'color':'white',
                                'text-decoration': 'none',
                                'font-size':'30px',
                                'font-weight':'600'
                                }">
                                <app-specie-article [article]="a" *ngFor="let a of specie.identification"></app-specie-article>
                            </p-accordionTab>
                        </div>
                        <div *ngIf="specie.cares[0]!=null" class="accordionItem">
                            <p-accordionTab header="Cares" [headerStyle]="{
                                'color':'white',
                                'text-decoration': 'none',
                                'font-size':'30px',
                                'font-weight':'600'
                                }">
                                <app-specie-article [article]="a" *ngFor="let a of specie.cares"></app-specie-article>
                            </p-accordionTab>
                        </div>
                    </p-accordion>
                </div>
            </div>
        </div>
    </p-card>
    <div class="col-2"></div>
</div>
