<form [formGroup]="form" class="edit-form mt-5">
  <div class="form-group">
    <label for="scientificName">Scientific Name:</label>
    <input id="scientificName" type="text" formControlName="scientificName" class="form-control" required>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Danger</mat-label>
      <mat-select formControlName="danger" class="danger-select" required>
        <mat-option>None</mat-option>
        <mat-option *ngFor="let danger of dangers" [value]="danger" class="text-white">{{danger}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-group">
    <label for="type">Type:</label>
    <input id="type" type="text" formControlName="type" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="formFile" class="form-label">Upload File Example</label>
    <input (change)="onFilechange($event)" type="file" id="formFile" class="form-control-file" required>
  </div>
  <button mat-button [disabled]="!form.valid" (click)="edit()" class="edit-button">
    <span>Edit</span>
  </button>
</form>