<div class="row bg-olive-dark py-5">
    <div class="col"></div>
    <div class="card p-0 h-100 col-8">
        <p-table #dt2 dataKey="id" [value]="list" [tableStyle]="{ 'min-width': '50rem', 'min-height':'50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:10%">
                        <div class="card flex justify-content-center">
                            <button pButton pRipple class="p-button-success">
                                <i class="pi pi-plus"></i>
                            </button>
                        </div>
                    </th>
                    <th style="width:25%">
                        <input type="text" pInputText [(ngModel)]="scName" (input)="onSearch()" placeholder="Name" />
                    </th>
                    <th style="width:25%">
                        <div class="card flex justify-content-center">
                            <p-multiSelect [options]="dangers" [(ngModel)]="selectDangers" placeholder="Select Danger"
                                optionLabel="name" display="chip" [showClear]="true" [filter]="false"
                                [showHeader]="false" [showToggleAll]="false"
                                (onChange)="dangerOnChange($event)"></p-multiSelect>
                        </div>
                    </th>
                    <th style="width:25%">
                        <div class="card flex justify-content-center">
                            <p-multiSelect [options]="types" [(ngModel)]="selcetTypes" placeholder="Select Type"
                                optionLabel="name" display="chip" [showClear]="true" [filter]="false"
                                [showHeader]="false" [showToggleAll]="false"
                                (onChange)="typeOnChange($event)"></p-multiSelect>
                        </div>
                    </th>
                    <th style="width:7.5%">

                    </th>
                    <th style="width:7.5%">
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-list>
                <tr>
                    <td><img [src]="getPhoto(list.url,60,60)" alt=""> </td>
                    <td>{{ list.scientificName}}</td>
                    <td>{{ list.danger }}</td>
                    <td>{{ list.type }}</td>
                    <td>
                        <p-button icon="pi pi-pen-to-square" (click)="showDialog(list)"></p-button>
                    </td>
                    <td>
                        <p-button icon="pi pi-trash" (onClick)="delete(list.id)" severity="danger"></p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td colspan="6">

                        <p-paginator (onPageChange)="onPageChange1($event)"  [rows]="rows1"
                            [totalRecords]="120" [rowsPerPageOptions]="[5, 10, 20,50]"
                            [showFirstLastIcon]="false"></p-paginator>

                    </td>
                </tr>
            </ng-template>

        </p-table>
    </div>

    <div class="col"></div>
    <p-dialog [header]="selectedSpecie!.scientificName!" [modal]="true" [(visible)]="visible" [style]="{ minWidth: '25rem'}" >
        <div>
            <p-floatLabel>
                <input pInputText id="scientificName" [(ngModel)]="selectedSpecie.scientificName" />
                <label for="scientificName">scientificName</label>
            </p-floatLabel>
        </div>
        <div>
            <p-dropdown 
                [options]="dangers" 
                [(ngModel)]="selectedSpecie.danger" 
                optionLabel="name"
                placeholder="Select a Danger" />
        </div>
        <div>
            <p-dropdown 
                [options]="types" 
                [(ngModel)]="selectedSpecie.type" 
                optionLabel="name"
                placeholder="Select a Type" />
        </div>
        <p-fileUpload 
        mode="basic" 
        chooseLabel="Choose" 
        chooseIcon="pi pi-upload"
        name="demo[]" 
        url="https://www.primefaces.org/cdn/api/upload.php" 
        accept="image/*" 
        maxFileSize="1000000" 
        (onUpload)="onUpload($event)" />

        <div class="flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="visible = false" />
            <p-button label="Save" (click)="visible = false" />
        </div>
</p-dialog>
</div>