@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
    height: 100%;
}

p-table {
    height: 60%;
}

::ng-deep .p-multiselect {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
}

::ng-deep .p-multiselect-items.p-component.ng-star-inserted {

    padding-left: 0rem;
}

::ng-deep .p-dropdown-items.ng-star-inserted {
    padding-left: 0rem;

}

::ng-deep .p-float-label {
    display: flex;
    position: relative;
    justify-content: center;
}