.bg{
    display: flex;
    align-items: center;
    background-color: black;
    height: 100%;
    background-image: url("../../../../assets/camaleon-negro.jpg");
    background-position: 0,0;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg>div:first-child{
    background-color: rgba(255, 255, 255, 0.152);
    height: 100%;
    border-right: 1px solid white;
}
.bg>div:first-child>form{
    height: 100%;
    display: flex;
    padding: 15%;
    flex-direction: column;
    justify-content: center;
}
label{
    color: white;
}
.button-submit{
    margin-top: 15px;
    height: 50px;
    border-radius: 15pt;
    border-color: white;
    color: white;
    background-color: #BEDE61;
}
