
<div class="row bg">
    <div class="col-4">
        <form class="offset-1" [formGroup]="profileLogin" (ngSubmit)="login()">
            <div class="mb-3">
                <input type="username" class="form-control" id="usernameLog" aria-describedby="usernameHelp"
                placeholder="Username or email address" formControlName="username">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="passwordLog" placeholder="Password" formControlName="password">
            </div>
            <button type="submit" class="button-submit">Log in</button>
        </form>
    </div>
    <div class="col-8">
    </div>
</div>