<div class="row bg-olive-dark py-5">
    <div class="col"></div>
    <div class="card p-0 h-100 col-10">
        <div class="card">
            <p-toast></p-toast>
            <div class="d-flex justify-content-end mb-2">
                <p-button icon="pi pi-plus" label="Add" (click)="showCreateDialog()"></p-button>
            </div>
            <p-table [value]="articleResponses" [tableStyle]="{'min-width': '60rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="title" style="width:20%">
                            Título <p-sortIcon field="title" />
                        </th>
                        <th pSortableColumn="specieName" style="width:20%">
                            Name <p-sortIcon field="specieName" />
                        </th>
                        <th pSortableColumn="type" style="width:20%">
                            Type <p-sortIcon field="type" />
                        </th>
                        <th pSortableColumn="approved" style="width:20%">
                            Approved <p-sortIcon field="approved" />
                        </th>
                        <th style="width:20%">
                            Options
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-article>
                    <tr>
                        <td>{{article.title }}</td>
                        <td>{{ article.specieName }}</td>
                        <td>{{ article.type }}</td>
                        <td>{{ article.approved }}</td>
                        <td>
                            <div>
                                <p-button [icon]="getIcon(article.approved)"  (click)="changeAproved(article.id)"></p-button>
                                <p-button icon="pi pi-pen-to-square" (click)="showDetails(article.id)"></p-button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="col"></div>
    <p-dialog header="Add New Article" [modal]="true" [(visible)]="visibleCreate" [style]="{ minWidth: '25rem'}">
        <form [formGroup]="createForm">
            <div style="display: flex; justify-content: center;">
                <p-floatLabel>
                    <input pInputText id="Title" formControlName="title" />
                    <label for="Title">Title</label>
                </p-floatLabel>
            </div>
            <br>
            <div style="display: flex; justify-content: space-around;">
                <div style="display: flex; justify-content: center;">
                    <p-dropdown [options]="speciesNames" formControlName="specie" optionLabel="name" dataKey="id"
                        [showClear]="true" placeholder="Select a Specie" />
                </div>
                <div style="display: flex; justify-content: center;">
                    <p-dropdown [options]="types" formControlName="type" optionLabel="name" [showClear]="true"
                        placeholder="Select a Type" />
                </div>
            </div>
            <br>
            <div style="display: flex; justify-content: center;">
                <textarea rows="5" cols="30" pInputTextarea formControlName="text">
                </textarea>
            </div>
            <br>
            <div style="display: flex; justify-content: center;">
                <p-fileUpload name="demo[]" (onSelect)="onUpload($event)" [multiple]="true" accept="image/*"
                    maxFileSize="1000000">
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">
                                {{ file.name }} - {{ file.size }} bytes
                            </li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
            </div>
            <div style="display: flex; justify-content: center;">
                <p-button label="Save" (click)="visibleCreate = false" (click)="saveCreatedArticle()" />
            </div>
        </form>
    </p-dialog>
</div>