<div class="p-2">
    <h4>{{article.title}}</h4>
    <p>{{article.description}}</p>
    <div *ngIf="article.archives!=null" class="d-flex justify-content-center">
        <p-galleria [value]="article.archives"  [containerStyle]="{
            }" [numVisible]="5">
            <ng-template pTemplate="item" let-item>
                    <img [src]="getPhotoNonScaled(item)" width="100%" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center">
                    <img [src]="getPhoto(item ,50,50)" />
                </div>
            </ng-template>
        </p-galleria>
    </div>
</div>